<import from="../../components/vehicle-create-edit"/>
<h1>Edit</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <vehicle-create-edit v-types.bind="vTypes" organisations.bind="organisations" vehicle.two-way="vehicle"></vehicle-create-edit>

            <div class="form-group">
                <input click.delegate="updateClicked($event)" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a load="/vehicles-index">Back to List</a>
</div>