<dl class="row">
    <dt class = "col-sm-2">
        Make
    </dt>
    <dd class = "col-sm-10">
        ${data.make}
    </dd>
    <dt class = "col-sm-2">
        Model
    </dt>
    <dd class = "col-sm-10">
        ${data.model}
    </dd>
    <dt class = "col-sm-2">
        ReleaseDate
    </dt>
    <dd class = "col-sm-10">
        ${data.releaseDate}
    </dd>
     <dt class = "col-sm-2">
            RegNr
        </dt>
    <dd class = "col-sm-10">
        ${data.regNr}
    </dd>
    <dt class = "col-sm-2">
        VehicleType
    </dt>
    <dd class = "col-sm-10">
        ${data.vehicleType}
    </dd>
</dl>